profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
      withName: 'BAKTA|PROKKA|PANAROO_RUN|IQTREE'{
               conda = "${baseDir}/conda_environments/bakta_prokka_panaroo_iqtree.yml"
         }
      
      }

   }
}
